APP_ENV=local
APP_DEBUG=true
VALHALLA_JWT_SECRET=change-me
VALHALLA_API_TOKEN=local-service-token
VALHALLA_LOG_LEVEL=debug
VALHALLA_HTTP_TIMEOUT=3
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=valhalla
DB_USERNAME=valhalla
DB_PASSWORD=secret
REDIS_HOST=127.0.0.1
